@page "/"

<PageTitle>Home</PageTitle>

<h1>Aspire.NET Rocks!</h1>

<p>This app is designed to demo a .NET 8 Blazor app being was built and deployed through a pipeline.</p>

<p>This demo was built using the <a href="https://learn.microsoft.com/en-us/dotnet/aspire/get-started/aspire-overview" target="_blank">Aspire .NET application template</a>,
an opinionated, cloud ready stack for building observable, production ready, distributed applications.</p>

